<head>
    <style>
        body {
            margin: 0;
        }
    </style>

    <script src="//unpkg.com/force-graph"></script>
    <link rel="stylesheet" href="style.css" />
    <!--<script src="../../dist/force-graph.js"></script>-->
</head>

<body>
    <div class="wrapper">
        <div id="graph"></div>
        <div class="slidecontainer">
            <label for="distance">Distance Value:</label>
            <input type="range" min="0" max="1" value="0.5" step="0.01" class="slider" id="distance">
        </div>
    </div>

    <script>
        var weightMatrix = [];
        var nodes = [];
        var gData, Graph;

        function setup() {
            var request = new XMLHttpRequest();
            request.open("GET", "mx645.txt");
            request.onreadystatechange =
                function () {
                    if (request.readyState == 4) {
                        var rows = request.responseText.split('\n');
                        for (var i = 0; i < rows.length - 1; i++) {
                            weightMatrix.push(rows[i].split('\t'));
                            nodes.push({ id: i });
                        }
                        console.log(weightMatrix);
                        document.getElementById("distance").oninput = updateGraph;
                        main();
                    }
                }
            request.send();
        }

        function setGraphData(distance) {
            var links = []
            for (var i = 0; i < weightMatrix.length; i++) {
                for (var x = i + 1; x < weightMatrix.length; x++) {
                    if (weightMatrix[i][x] < distance) {
                        links.push({ source: i, target: x });
                    }
                }
            }
            gData = { nodes: nodes, links: links };
        }

        function updateGraph() {
            Graph.graphData(
                { nodes: [], links: [] }
            );
            var distanceslider = document.getElementById("distance");
            setGraphData(distanceslider.value);
            Graph.graphData(gData);
        }

        function main() {
            var distanceslider = document.getElementById("distance");
            setGraphData(distanceslider.value);
            Graph = ForceGraph()
                (document.getElementById('graph'))
                .graphData(gData);
        }

        setup();
    </script>
</body>